@include min-bp(768px) {
  .container {
    max-width: 960px;
  }
}
.mb-xs { margin-bottom: 4px;}
.mb-sm { margin-bottom: 8px;}
.mb-md { margin-bottom: 16px;}
.mb-lg { margin-bottom: 32px;}
.mt-xs { margin-top: 4px;}
.mt-sm { margin-top: 8px;}
.mt-md { margin-top: 16px;}
.mt-lg { margin-top: 32px;}
.mb-none { margin-bottom: 0 !important; }

a {
  color: $primary-red;
}

.narrow-container {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 10px;
}

.heading {
  font-weight: $bold;
  text-align: center;
}

h1.heading {
  margin-top: 0;
  @include min-bp(490px) {
    font-size: 2.2em;
  }
}
h2.heading {
  @include min-bp(490px) {
    font-size: 1.6em;
    margin-bottom: 24px;
  }
}

.heading-line:before {
  content: '';
  width: 80px;
  height: 2px;
  background: $primary-yellow;
  margin: 0 auto;
  display: block;
  margin-bottom: 12px;
}

.heading-underline:after {
  content: '';
  width: 80px;
  height: 2px;
  background: $primary-yellow;
  margin: 0 auto;
  display: block;
  margin-top: 8px;
}

.content {
  margin-top: 36px;
}

.content h1 {
  font-weight: $bold;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
  @include min-bp(490px) {
    font-size: 2.7em;
  }
  &:after {
    content: '';
    width: 80px;
    height: 2px;
    background: $primary-yellow;
    margin: 0 auto;
    display: block;
    margin-top: 8px;
  }
}

p.lead { font-size: 1.25em; }
p.center { text-align: center; }
