.home .services {
  padding: 36px 0;
  font-size: 1.15em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  h4 {
    margin-top: 12px;
    text-decoration: underline;
    font-size: 1.3em;
  }
}

.home-content {
  margin-bottom: 64px;
  .lead-heading {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .subheading {
    text-align: center;
    font-size: 1.6em;
    font-weight: $light;
  }
  .intro-heading {
    margin-top: 36px;
  }
  p {
    @include min-bp(490px) {
      font-size: 1.2em;
      font-weight: $light;
    }
  }
}

.home .home-slider {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  .slider-arrow {
    color: white;
    background: transparent;
    border: none;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.7em;
    line-height: 1em;
    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
  .slide {
    position: relative;
    .image-wrap {
      min-height: 240px;
      @include min-bp(490px){
        min-height: 300px;
      }
      @include min-bp(768px) {
        min-height: 560px;
        width: 100%;
        overflow: hidden;
      }
      img {
        // min-width: 100%;
        width: 100%;
        // min-height: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(black, .4);
      }
    }
    .overlay {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: white;
      width: 100%;
      z-index: 10;
      margin-bottom: 32px;
      &:before {
        content: '';
        width: 80px;
        height: 1px;
        background: white;
        margin: 0 auto;
        display: block;
        margin-bottom: 24px;
      }
      .subtitle {
        margin: 0;
        margin-bottom: 8px;
        font-size: 1.6em;
        font-weight: $light;
        line-height: 1em;
        font-style: italic;
      }
      .title {
        margin: 0;
        font-size: 2.8em;
        line-height: 1em;
        font-weight: $bold;
        margin-bottom: 20px;
      }
      .action-button {
        display: inline-block;
        text-decoration: none;
        background: $primary-red;
        color: white;
        font-size: 1.2em;
        padding: 4px 28px;
        border-radius: 50px;
        transition: all .2s ease-in-out;
        &:hover {
          background: darken($primary-red, 10%);
        }
      }
    }
  }
}
