@import "utils/fonts";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/bootstrap_base";

//////////////////////////////
//   VARIABLES
//////////////////////////////

$font-stack: 'Josefin Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;
$light: 300;
$regular: 400;
$bold: 700;
$font-color: #212121;

// COLORS
$primary-black: #202020;
$secondary-black: #3A3A3A;
$primary-yellow: #F8C71C;
$primary-red: #FF001F;

body {
  font-family: $font-stack;
  font-size: 16px;
  background: white;
  color: $font-color;
}

@import "utils/layout_utils";

/// Components
@import "components/nav";
@import "components/footer";

/// Modules

@import "home";
@import "programs";
@import "schedule";
@import "about";
